<?xml version="1.0" encoding="utf-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    xmlns:android = "http://schemas.android.com/apk/res/android"
    id        = "comida.ajato.app"
    versionCode = "1"
    version   = "1.0">
    <name>ComidaaJato</name>
    <description>
        comidaajato
    </description>
    <author email="central@comidaajato.com" href="http://cordova.io">
        www.comidaajato.com
    </author>
    <icon src="icon.png" />           
    <content src="index.html" />
        
    <gap:plugin name="cordova-plugin-whitelist" source="npm" />            
    <gap:plugin name="cordova-plugin-device" source="npm" />        
    <gap:plugin name="cordova-plugin-inappbrowser" source="npm" />        
    <gap:plugin name="cordova-plugin-splashscreen" source="npm" />    
    <gap:plugin name="cordova-plugin-admobpro" source="npm" />
    <gap:plugin name="cordova-plugin-network-information" source="npm" />
        
    <gap:plugin name="cordova-plugin-request-location-accuracy" source="npm" />    
    <gap:plugin name="nl.x-services.plugins.socialsharing" source="npm" />    

    <gap:plugin name="cordova-plugin-fastrde-checkgps" source="npm" />
    <gap:plugin spec="https://github.com/phonegap-build/PushPlugin.git" source="git" />
    
    <gap:plugin spec="https://github.com/gitawego/cordova-screenshot.git" source="git" />
   
    </gap:plugin>   
    
<gap:splash src="splash.png" />
    <preference name="AutoHideSplashScreen" value="false" />      
    <preference name="SplashScreenDelay" value="10000" />    
    <preference name="fullscreen" value="false" />
    <preference name="android-minSdkVersion" value="16" />     
    
    <access origin="*" />
    <access origin="tel:*" launch-external="yes" />
       
    <gap:config-file platform="android" parent="/manifest">
        <supports-screens android:xlargeScreens="true" android:largeScreens="true" android:smallScreens="true" />
        <application android:theme="@android:style/Theme.NoTitleBar" >            
        </application>        
    </gap:config-file>    
    
</widget>
